.a{
   background-color:pink;
   text-align:center;
   padding:20px;
   }
   .b{
    font-size:30px;
    text-align:center;
   }
   .c{

  font-size:20px;
 width:20%;
  height:20%;
  text-align:center;
 
  }
   
